<div class="row">
    <button class="btn btn-primary"
        ng-bootbox-title="<i class='fa fa-bus' ></i> Nouveau Bus "
        ng-bootbox-custom-dialog
        ng-bootbox-custom-dialog-template="./templates/modal/add-vehicle.html"
        ng-bootbox-buttons="customDialogButtons">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Nouveau  User
    </button>

</div>

<div class="row">

    <table class="table table-striped table-condensed -table-hover">
        <thead>
            <tr>
                <th> S.no</th>
                 <td>{{name}}</td> 
 <td>{{age}}</td> 
 <td>{{phone}}</td> 
 <td>{{email}}</td> 
 <td>{{address}}</td> 

                <th>
                    <button type="button" class="btn btn-warning" ng-click="clearAll()">Boooo</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="active" ng-repeat="Users">
                <td>{{$index+1}}</td>
                 <td>{{User.name}}</td> 
 <td>{{User.age}}</td> 
 <td>{{User.phone}}</td> 
 <td>{{User.email}}</td> 
 <td>{{User.address}}</td> 

                <td>
                    <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> edit
                            </button>

                    <button type="button" class="btn btn-danger" ng-click="delete(User)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete
                            </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>